:root {
    --bg: #f0eeee;
    --card_bg: white;
    --order: #f0eeee;
    --slide: #2b3539;
    --card_boder: #e2e2e2;
    --slide_sub_bg: #456257;
    --slide_bg: #2e393d;
    --h2: #333333;
    --text: #555;
    --active: #2184fc;
    --bg_darken: #e2e2e2;
    --bg_dark: #2a2a2a;
}